<!DOCTYPE html>
<html>
  <head>
    <title>Going to mars</title>
    <link href="style.css" rel="stylesheet">
    <style>
      .hi{font-size:50px; padding:70px; background-color:ghostwhite;border:1px solid}
      .a{color:red}
      .b{color:green}
    </style>
  </head>
  <body>
    <header>
      <h1 class ="a">Going To Mars</h1>>
      <nav>
        <a href="/myApp/">Home</a>
        <a href="/myApp/sign-up/">Sign Up</a>
        <a href="/myApp/info/">Info</a>
      </nav>
      <div class="hi">This website is cool.</div>
    </header>
    <main>
      <table border ="1px">
      <tr>
        <th>year</th>
        <th>2020</th>
        <th>2021</th>
        <th>2022</th>
        <th>2023</th>
        <th>2024</th>
        <th>2051</th>
        <th>2026</th>
        <th>2027</th>
        <th>2028</th>
        <th>2029</th>
        <th>2030</th>
      </tr>
      <tr>
        <td>amount of people that participated</td>
        <td>1000</td>
        <td>2000</td>
        <td>3000</td>
        <td>4000</td>
        <td>5000</td>
        <td>6000</td>
        <td>7000</td>
        <td>8000</td>
        <td>9000</td>
        <td>10000</td>
        <td>11000</td>
      </tr>
      </table>
    </main> 
    <footer class="b">
      <p>location:in the rocket station</p>
    </footer>
  </body>
</html>