<!DOCTYPE html>
<html>
  <head>
    <title>Going To Mars</title>
    <link href="style.css" rel="stylesheet">
    <style>
      .hi{font-size:50px; padding:70px; background-color:ghostwhite;border:1px solid}
      .a{color:red}
      .b{color:green}
    </style>
  </head>
  <body>
    <header>
      <h1 class ="a">Going To Mars</h1>
      <nav>
        <a href="/myApp/">Home</a>
        <a href="/myApp/sign-up/">Sign Up</a>
        <a href="/myApp/info/">Info</a>
      </nav>
      <div class="hi">This website is cool.</div>
    </header>
    <main>
      <form>
        <label style = "color:blue">firstname:</label>
        <input type = "text" name = "firstname"><br>
        <label style = "color:orange">lastname:</label>
        <input type = "text" name = "lastname"><br>
        <label style = "color:purple">Age:</label>
        <input type = "number" name = "age"<br>
      </form>
      <form action="/myApp/submit/">
				<button type="submit">Submit</button>
			</form> 
    </main> 
    <footer class="b">
    <p>location:in the rocket station</p>
    </footer>
  </body>
</html>