<!DOCTYPE html>
<html>
  <head>
    <title>Going to mars</title>
    <link href="style.css" rel="stylesheet">
    <style>
      .hi{font-size:50px; padding:70px; background-color:ghostwhite;border:1px solid}
      .a{color:red}
      .b{color:green}
    </style>
  </head>
  <body>
    <header>
      <h1 class ="a">Going To Mars</h1>
      <nav>
        <a href="/myApp/">Home</a>
        <a href="/myApp/sign-up/">Sign Up</a>
        <a href="/myApp/info/">Info</a>
      </nav>
      <div class="hi">This website is cool.</div>
    </header>
    <main>
      <p style = "color:blue">Thank you for filling the form</p>
    </main>  
    <footer class="b">
      <p>location:in the rocket station</p>
    </footer>
  </body>
</html>